.card {
    display: flex;
    padding: var(--size-x-small);
    border-radius: var(--border-radius);
}

.card--skill {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    box-shadow: var(--size-x-small) var(--size-x-small) var(--size-x-small) var(--primary);
    width: 100%;
}

.card--skill-image {
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: available;
    width: 90%;
    margin: var(--size-x-small);
}


.card--skill figcaption {
    text-align: center;
    word-break: break-word;
    font-size: smaller;
}

.card--timeline {
    padding: var(--size-default);
    flex-direction: column;
    gap: var(--size-small);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    box-shadow: var(--size-x-small) var(--size-x-small) var(--size-x-small) var(--primary);
    margin: var(--size-default) var(--size-default) var(--size-large) var(--size-default);
}

.card--timeline-title {
    display: flex;
    flex-direction: row;
    position: relative;
    left: calc(var(--size-large) * -2);
    font-weight: bolder;
}

.timeline-title {
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    padding: var(--size-small) var(--size-default);
}
