.card {
    display: flex;
    padding: var(--size-x-small);
    border-radius: var(--border-radius);
}

.card--skill {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    box-shadow: var(--size-x-small) var(--size-x-small) var(--size-x-small) var(--primary);
    width: 100%;
}

.card--skill-image {
    position: relative;
    aspect-ratio: 1 / 1;
    max-width: available;
    width: 90%;
    margin: var(--size-x-small);
}


.card--skill figcaption {
    text-align: center;
    word-break: break-word;
    font-size: smaller;
}

.card--timeline {
    padding: var(--size-default);
    flex-direction: column;
    gap: var(--size-small);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    box-shadow: var(--size-x-small) var(--size-x-small) var(--size-x-small) var(--primary);
    margin: var(--size-default) var(--size-default) var(--size-large) var(--size-default);
}

.card--timeline-title {
    display: flex;
    flex-direction: row;
    position: relative;
    left: calc(var(--size-large) * -2);
    font-weight: bolder;
}

.timeline-title {
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    padding: var(--size-small) var(--size-default);
}

.card--project {
    position: relative;
    flex-direction: column;
    justify-content: center;
    place-self: center;
    align-items: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
}

.card--project-image {
    aspect-ratio: 3/2;
    width: 100%;
}

.card--project-image img {
    transition: .25s ease-in-out;
    transform: scale(1);
}

.card--project:hover img {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.card--project:hover .card--project-excerpt {
    opacity: 1;
    background-color: var(--background);
    transition: opacity .45s ease-in-out;
}

.card--project-image figcaption {
    display: flex;
    text-align: center;
    font-size: smaller;
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding: var(--size-small);
    width: 100%;
    height: 100%;
}

.card--project-image h3 {
    background-color: var(--background);
    color: var(--highlight);
    padding: var(--size-x-small);
}

.card--project-excerpt {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-small);
    opacity: 0;
    padding: var(--size-small) var(--size-default);
    z-index: 3;
}