/* Navbar */
.navbar-container {
    width: 100%;
    height: 6rem;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 50;
    display: grid;
    grid-template-columns: auto fit-content(100%) fit-content(100%);
    justify-content: stretch;
    align-items: center;
    width: 100%;
    padding: var(--size-default);
    background-color: var(--primary);
    color: var(--text-light);
    height: 6rem;
    gap: var(--size-default);
}

.navbar__main {
    display: flex;
    align-items: center;
    padding: var(--size-small);
    cursor: pointer;
    font-weight: bolder;
    font-size: 125%;
    flex-shrink: 0;
    gap: var(--size-small);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 30%;
    width: var(--sidebar-width);
    padding: var(--size-default) 0;
    background-color: var(--background-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--size-small);
    cursor: pointer;
    color: var(--highlight);
    font-size: 24px;
}

.sidebar__item--full,
.sidebar__item--narrow {
    display: flex;
    align-items: center;
}

.sidebar__item:hover {
    background: var(--background-secondary);
    color: var(--text-dark);
    font-weight: 600;
}

.sidebar__item__active {
    background: var(--primary);
    color: var(--text-light);
    font-weight: 600;
}

.sidebar__item__active:hover {
    background: var(--primary-hover);
    color: var(--text-light);
    font-weight: 600;
}

.sidebar-container--narrow {
    --sidebar-width: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.sidebar__item--narrow .sidebar__text {
    display: none;
}

/* smaller devices */
@media (max-width: 1000px) {
    /* Navbar */
    .navbar {
        display: grid;
        grid-template-columns: auto fit-content(100%) fit-content(100%);
        grid-template-rows: 100% fit-content(100%);
        justify-content: stretch;
        align-items: center;
        width: 100%;
        padding: var(--size-small);
        background-color: var(--primary);
        color: var(--text-light);
    }

    .navbar__main {
        justify-self: start;
        display: flex;
        align-items: center;
        padding: var(--size-small);
        cursor: pointer;
        font-weight: bolder;
        font-size: 125%;
        flex-shrink: 0;
        gap: var(--size-small);
    }

    .navbar ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        gap: var(--size-large);
        font-size: 120%;
        padding: var(--size-default);
    }

    .hamburger {
        cursor: pointer;
        justify-self: end;
        padding: var(--size-default);
        color: var(--text-light);
        margin: 0;
    }

    .hamburger-line {
        background: var(--text-light);
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

    }

    .hamburger-line::before,
    .hamburger-line::after {
        background: var(--text-light);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamburger-line::before {
        top: 5px;
    }

    .hamburger-line::after {
        top: -5px;
    }

    .hamburger-menu,
    .hamburger-menu-content {
        display: none;
    }

    .hamburger-menu:checked ~ .hamburger-menu-content {
        grid-column: 2 / 4;
        display: flex;
        background-color: var(--primary);
        width: 100%;
        padding: 0 var(--size-default);
    }

    .hamburger-menu:checked ~ .hamburger .hamburger-line {
        background: transparent;
    }

    .hamburger-menu:checked ~ .hamburger .hamburger-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .hamburger-menu:checked ~ .hamburger .hamburger-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    /* Sidebar */
    .sidebar-container--full {
        --sidebar-width: 40px;
        display: flex;
        align-items: center;
        width: fit-content;
    }

    .sidebar__item--full .sidebar__text {
        display: none;
    }
}


/* Larger devices */
@media (min-width: 1000px) {
    .navbar ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        gap: var(--size-default);
        font-size: 120%;
    }

    .hamburger,
    .hamburger-menu {
        display: none;
    }


    .sidebar-container--full {
        width: var(--sidebar-width);
    }

    .sidebar__item--full .sidebar__text {
        display: block;
        padding-left: var(--size-default);
    }
}