
.other {
    --category-title: calc(var(--size-default) * -1.5);
    display: flex;
    flex-direction: column;
    gap: var(--size-default);
    padding: var(--size-large);
    background-color: var(--background-light);
    border-radius: var(--size-default);
    justify-content: center;
    align-items: center;
}

.other h2 {
    margin: var(--size-default);
    background-color: var(--highlight);
    color: var(--text-dark);
    padding: var(--size-small);
    width: fit-content;
}

.other h3 {
    background-color: var(--primary);
    color: var(--text-light);
    padding: var(--size-small);
    margin-bottom: calc(var(--size-default) * -1);
    transform: translateY(var(--category-title));
}

.other__categories {
    display: flex;
    flex-direction: row;
    gap: var(--size-default);
    justify-content: center;
    flex-wrap: wrap;
}

.other__category {
    margin-top: calc(var(--category-title) * -1);
    border: 1px solid var(--primary);
    padding-inline: var(--size-default);
    flex-basis: 30%;
    flex-grow: 1;
}

.other h4 {
    padding: var(--size-small);
}

.other__item--date {
    color: var(--highlight);
    font-weight: bold;
    padding-inline: var(--size-small);
}

.other__item--content p {
    padding-inline: var(--size-small);
    margin-inline: 0;
}

.other__item--content .note {
    background-color: var(--background-secondary);
    border: 1px solid var(--primary);
    padding: var(--size-small);
    font-size: smaller;
}