# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.idea
.vscode/
certificates

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.local
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# scrpited files
public/robots.txt
public/sitemap.xml
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests-examples/demo-todo-app.sp.ts
v2/ContactForm.t.tsx
v2/next.config.js
v2/package.json
v2/postcss.config.json
v2/tallessa.css
v2/tsconfig.json
v2/.next/app-build-manifest.json
v2/.next/build-manifest.json
v2/.next/package.json
v2/.next/react-loadable-manifest.json
v2/.next/trace
v2/.next/cache/webpack/client-development/0.pack.gz
v2/.next/cache/webpack/client-development/index.pack.gz
v2/.next/server/app-paths-manifest.json
v2/.next/server/middleware-build-manifest.js
v2/.next/server/middleware-manifest.json
v2/.next/server/middleware-react-loadable-manifest.js
v2/.next/server/next-font-manifest.js
v2/.next/server/next-font-manifest.json
v2/.next/server/pages-manifest.json
v2/.next/server/server-reference-manifest.js
v2/.next/server/server-reference-manifest.json
v2/.next/static/chunks/polyfills.js
v2/.next/static/development/_buildManifest.js
v2/.next/static/development/_ssgManifest.js
v2/.next/types/package.json
v2/__mocks__/otherAchievement.ts
v2/__mocks__/page.ts
v2/__mocks__/prisma.ts
v2/__mocks__/section.ts
v2/__mocks__/timeline.ts
v2/app/error.tsx
v2/app/global-error.tsx
v2/app/globals.css
v2/app/layout.tsx
v2/app/loading.tsx
v2/app/not-found.tsx
v2/app/_actions/formActions.ts
v2/app/_components/cards/Card.tsx
v2/app/_components/common/Button.tsx
v2/app/_components/common/ForwardButton.tsx
v2/app/_components/common/Header.tsx
v2/app/_components/common/LoadingComponent.tsx
v2/app/_components/common/Notification.tsx
v2/app/_components/common/icons/FontAwesomeConfig.ts
v2/app/_components/common/icons/Icon.tsx
v2/app/_components/form/ContactForm.tsx
v2/app/_components/hoc/withSession.tsx
v2/app/_components/navigation/AuthStatusButton.tsx
v2/app/_components/navigation/DarkMode.tsx
v2/app/_components/navigation/Navbar.tsx
v2/app/_components/navigation/Sidebar.tsx
v2/app/_components/providers/Providers.tsx
v2/app/_hooks/index.ts
v2/app/_hooks/useHashChange.tsx
v2/app/_hooks/usePageScroll.tsx
v2/app/_lib/FormDataSchema.ts
v2/app/_lib/pages.ts
v2/app/_lib/prisma.ts
v2/app/_lib/projects.ts
v2/app/_lib/users.ts
v2/app/_styles/card.css
v2/app/_styles/common.css
v2/app/_styles/form.css
v2/app/_styles/navigation.css
v2/app/_styles/others.css
v2/app/_styles/project.css
v2/app/_styles/timeline.css
v2/app/_types/common.ts
v2/app/_types/levels.ts
v2/app/_types/notification.ts
v2/app/_types/project.ts
v2/app/_utils/fonts.ts
v2/app/_utils/stringUtils.ts
v2/app/_utils/uiUtils.tsx
v2/app/about/layout.tsx
v2/app/about/page.module.css
v2/app/about/page.tsx
v2/app/about/_components/Others.tsx
v2/app/about/_components/TimelineEvent.tsx
v2/app/about/_components/Timelines.tsx
v2/app/api/auth/[...nextauth]/options.ts
v2/app/api/auth/[...nextauth]/route.ts
v2/app/home/layout.tsx
v2/app/home/page.module.css
v2/app/home/page.tsx
v2/app/home/_components/About.tsx
v2/app/home/_components/LatestProjects.tsx
v2/app/home/_components/Main.tsx
v2/app/home/_components/TopSkills.tsx
v2/app/prisma/schema.prisma
v2/app/projects/layout.tsx
v2/app/projects/page.module.css
v2/app/projects/page.tsx
v2/app/projects/[id]/not-found.tsx
v2/app/projects/[id]/page.tsx
v2/app/projects/_components/LinkRow.tsx
v2/app/projects/_components/Links.tsx
v2/app/projects/_components/ProjectSection.tsx
v2/app/projects/_components/ProjectSpecsSection.te.tsx
v2/app/projects/_components/ProjectSpecsSection.tsx
v2/app/projects/_components/TagRow.tsx
v2/app/projects/_components/details/Achievements.tsx
v2/app/projects/_components/details/TechnicalApproach.tsx
v2/app/projects/_components/details/UserBenefits.tsx
v2/app/skills/layout.tsx
v2/app/skills/page.module.css
v2/app/skills/page.tsx
v2/app/skills/_components/LevelSection.tsx
v2/app/skills/_components/SkillSection.te.tsx
v2/app/skills/_components/SkillSection.tsx
v2/app/skills/_components/SkillsPage.te.tsx
v2/app/skills/_components/SkillsPage.tsx
v2/oldtest/_components/common/Header.tt.tsx
v2/oldtest/_components/common/form/ContactForm.te.tsx
v2/oldtest/_components/navigation/Sidebar.te.tsx
v2/oldtest/_hooks/useHashChange.te.tsx
v2/oldtest/_hooks/usePageScroll.te.tsx
