.main {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-default);
    margin: var(--size-x-small);
    border-radius: var(--border-radius);
}

.section__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    color: var(--text-light);
    background-color: var(--primary);
    padding: var(--size-x-small) var(--size-x-small) var(--size-x-small) var(--size-default);
}

.section__about h2 {
    margin: var(--size-large);
}


.grid__container {
    display: flex;
    flex-direction: column;
}

.grid__container section {
    padding: 16px;
    background-color: var(--primary);
    color: var(--text-light);
    border-radius: var(--border-radius);
}

/* and screen */
@media (min-width: 768px) {
    .section__about {
        padding: var(--size-large);
    }

    .section__timeline {
        padding: 0;
        margin: 0;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid__container section {
        padding: 16px;
        background-color: var(--primary);
        color: var(--text-light);
        border-radius: var(--border-radius);
    }

    .grid__container section:nth-child(2n - 1) {
        grid-row: 2 / -1;
    }

    .grid__container section:nth-child(2n) {
        grid-column: span 2;
    }
}