.main {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: var(--size-large);
    margin: var(--size-default);
    border-radius: var(--border-radius);
}

.main__section {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-default);
    padding: var(--size-large);
    border-radius: var(--border-radius);
    border: 2px solid var(--primary);
}

.timeline__section {
    width: 70%;
}

.timeline {
    border-left: thick double var(--primary);
    padding-left: var(--size-large);
}