.main {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 100px;
    transform: translateY(-100px);
}

.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-default);
    padding: 0 var(--size-large) var(--size-x-large) var(--size-large);
    background-color: var(--secondary);
    width: 100dvw;
}

.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section__desc {
    margin: var(--size-default);
    background-color: var(--background-light);
    justify-content: center;
    padding: var(--size-large);
    align-self: center;
    width: 80%;
}

.section__desc.upper {
    transform: translateY(calc(var(--size-x-large) * -1));
}

.section__projects {
    background-color: var(--background-light);
    padding: var(--size-default);
    width: 80%;
}

.grid__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--size-default);
    gap: var(--size-large);
    margin: var(--size-default);
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-secondary);
    padding-bottom: var(--size-x-large);
    gap: var(--size-default);
}

.article__column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--size-default);
}

@media (max-width: 1000px) {
    .grid__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: var(--size-x-small);
    }

    .container {
        padding: var(--size-small);
        gap: var(--size-small);
    }

    .section__desc {
        padding: var(--size-default);
        width: 90%;
    }

    .section__projects {
        padding: var(--size-small);
        width: 90%;
    }

}

@media (max-width: 480px) {
    .grid__main {
        display: grid;
        grid-template-columns: 1fr;
        padding: var(--size-x-small);
    }

    .container {
        padding: var(--size-small);
        gap: var(--size-small);
    }

    .section__desc {
        padding: var(--size-default);
        width: 90%;
    }

    .section__projects {
        padding: var(--size-small);
        width: 90%;
    }

}

