@import '@/app/_styles/common.css';

/* Default: Colour Scheme Light & Larger devices (1000+ px) */
:root {
    --full-with: 100dvw;
    --max-width: 900px;
    --sidebar-width: 200px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --font-size-base: 18px;

    --background: #F5F5F5;
    --background-secondary: #E5EEF1;
    --background-light: #FFFFFF;
    --background-higlight: #006699;

    --text-color: #333333;
    --text-color-opposite: #F5F5F5;

    --primary: #006699;
    --secondary: #F5DEB3;
    --highlight: #FFA07A;
    --text-dark: #333333;
    --text-light: #F5F5F5;

    --primary-hover: #005f8d;
    --secondary-hover: #e3c3a8;
    --accent-hover: #ff7f50;
    --text-dark-hover: #222222;
    --text-light-hover: #CCCCCC;

    --notification-alert-text: #b33636;
    --notification-alert-bg: #ffd3d3;
    --notification-success-text: #007d00;
    --notification-success-bg: #bfffbf;
    --notification-info-text: #3655b3;
    --notification-info-bg: #d3deff;

    /* paddings and margins */
    --size-x-small: 0.25rem;
    --size-small: 0.5rem;
    --size-default: 1rem;
    --size-large: 2rem;
    --size-x-large: 3rem;
}

/* Colour Scheme Dark */
[data-theme='dark'] {
    --background: #1B2233;
    --background-secondary: #232C40;
    --background-light: #445170;
    --background-higlight: #1B2233;

    --text-color: #f5f5f5;
    --text-color-opposite: #333333;

    --secondary: #e3c6a2;
    --secondary-hover: #ecd2ab;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1B2233;
        --background-secondary: #232C40;
        --background-light: #445170;
        --background-higlight: #1B2233;

        --text-color: #f5f5f5;
        --text-color-opposite: #333333;

        --secondary: #e3c6a2;
        --secondary-hover: #ecd2ab;
    }

    html {
        color-scheme: dark;
        color: var(--text-color);
    }
}

/* @media screen and (max-width: 768px)  */
@media (max-width: 1000px) {
    :root {
        --max-width: 100%;
        --border-radius: 12px;
        --sidebar-width: 40px;
        --font-size-base: 15px;
    }

    .page-container {
        gap: 5px !important;
    }
}

/* @media screen and (max-width: 480px) */
@media (max-width: 480px) {
    .page-container {
        gap: 5px !important;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    color: var(--text-color);
    font-size: var(--font-size-base);
    background-color: var(--background);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    margin: var(--size-default);
}

p {
    margin: var(--size-default);
}

.center {
    align-items: center;
}

.centered {
    align-items: center;
    justify-content: center;
}

.end {
    justify-self: end;
}

/* list */
ul {
    list-style: none;
}

.nested {
    padding-left: var(--size-large);
}

.squared {
    list-style: square outside;
}

#achievements ul {
    list-style: none;
    padding-left: 0;
}

#achievements li {
    display: flex;
    gap: var(--size-default);
    align-items: center;
    margin: var(--size-small) 0;
}

#achievements li::before {
    content: '';
    width: 20px;
    height: 20px;
    align-self: center;
    padding-right: var(--size-default);
    background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='18' height='18' fill='green' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1472 930v318q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-10 10-23 10-3 0-9-2-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-254q0-13 9-22l64-64q10-10 23-10 6 0 12 3 20 8 20 29zm231-489l-814 814q-24 24-57 24t-57-24l-430-430q-24-24-24-57t24-57l110-110q24-24 57-24t57 24l263 263 647-647q24-24 57-24t57 24l110 110q24 24 24 57t-24 57z'/></svg>") no-repeat;
}

.visually--hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* Titles */
h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: var(--size-default);
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--size-default);
    text-transform: uppercase;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Text */

.text-bold {
    font-weight: 600;
}

.text-small {
    font-size: 90%;
}

.text-indent {
    text-indent: var(--size-default);
}

.capitalize {
    text-transform: capitalize;
}

.preline {
    white-space: pre-line;
}

/* Colors */
.primary {
    color: var(--primary);
}

.primary:hover {
    color: var(--primary-hover);
}

.secondary {
    color: var(--secondary);
}

.secondary:hover {
    color: var(--secondary-hover);
}

.highlight {
    color: var(--highlight);
}

.highlight:hover {
    color: var(--accent-hover);
}


/* Backgrounds */

.bg-primary {
    background-color: var(--background);
}

.bg-secondary {
    background-color: var(--background-secondary);
}

.bg-primary-color {
    background-color: var(--primary);
}

.bg-highlight-color {
    background-color: var(--highlight);
}

.bg-highlight {
    background-color: var(--background-higlight);
}

/* Margins and paddings */

.padded-vertical {
    padding: var(--size-small) 0;

}

.padded-horizontal {
    padding: 0 var(--size-small);
}

.padded-right {
    padding-right: var(--size-small);
}

.margin-bottom {
    margin-bottom: var(--size-large);
}

/* Containers */

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
}

.page-container--full {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    width: 100dvw;
}

.page-container--full.height {
    height: 100dvw;
    position: absolute;
    top: 0;
    padding-top: 6rem;
}

.page-container--full.padded {
    position: absolute;
    top: 0;
    padding-top: 10rem;
}

/* Loader */
.loading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--background);
    border-bottom-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}