@import url('https://fonts.googleapis.com/css?family=Coda:400|Nothing+You+Could+Do:400,700&display=swap');
@import '@/app/_styles/button.module.css';

:root {
  color-scheme: dark light;
  --background: #16161a;
  --background-secondary: #1f1e2b;

  --text-color: #ebe9ed;
  --text-secondary: rgb(132, 142, 156);

  --button-text-color: #f5f5f5;

  --primary: #044fc6;
  --highlight: #14bd7f;

  --primary-hover: #1460dc;
  --highlight-hover: #11a26d;

  --notification-alert-text: #e4243c;
  --notification-success-text: #14bd7f;

  /* paddings and margins */
  --size-x-small: 0.25rem;
  --size-small: 0.5rem;
  --size-default: 1rem;
  --size-large: 2rem;
  --size-x-large: 3rem;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-heading: 'Nothing You Could Do', sans-serif;
  --font-headings: 'Coda', sans-serif;
  --font-button: 'Avenir Next LT W01 Bold', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ebe9ed;
    --background-secondary: #d8d2d1;

    --text-color: #16161a;

    --button-text-color: #f5f5f5;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-mono);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--font-headings);
}

h1,
h2 {
  font-size: 2rem;
  line-height: 1.5;
  padding: var(--size-default) 0;
  margin: var(--size-default) 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.quote {
  font-family: var(--font-accent);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: var(--size-large) 0;
  flex-direction: column;
}

.full {
  flex: 1;
}

.screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
