.main {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: var(--size-default);
}

.main__section {
    background-color: var(--background-light);
    justify-content: center;
    padding: var(--size-small);
    border: 2px solid var(--primary);
    margin: 0;
}

.grid__main {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--size-x-small);
    object-fit: fill;
}

.grid__level {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-small);
    padding: var(--size-default);
    justify-items: center;
    list-style: none;
}

.grid__level li {
    flex-basis: 30%;
}

.grid__main div:first-child div:first-child {
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.grid__main div:last-child div:first-child {
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.skill-level {
    text-align: center;
    padding: var(--size-small);
    font-weight: 500;
    color: black;
}

.skill-level--0 {
    background-color: #4aa942;
}

.skill-level--1 {
    background-color: #69B266;
}

.skill-level--2 {
    background-color: #9bca99;
}

.skill-level--3 {
    background-color: #acdba7;
}

.skill-level--4 {
    background-color: #c6e7c3;
}


/* @media screen and (max-width: 768px)  */
@media (min-width: 500px) and (max-width: 1000px) {
    .grid__main {
        display: grid;
        grid-template-columns: repeat(5, auto);
        padding: var(--size-default);
        object-fit: fill;
    }

    .grid__level {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--size-small);
        padding: var(--size-default);
        justify-items: center;
        list-style: none;
    }

    .grid__level li {
        flex-basis: 40%;
    }
}

/* @media screen and (max-width: 480px) */
@media (max-width: 480px) {
    .skill-level {
        border-radius: var(--border-radius);
    }
}

@media (min-width: 1000px) {
    .main {
        padding: var(--size-large);
        margin: var(--size-default);
    }

    .main__section {
        padding: var(--size-large);
        margin: var(--size-default);
    }

    .grid__main {
        display: grid;
        grid-template-columns: repeat(5, minmax(auto, 1fr));
        padding: var(--size-default);
        object-fit: fill;
    }

    .grid__level li {
        flex-basis: 45%;
    }
}

