.button-row {
  display: flex;
  flex-direction: row;
  gap: var(--size-large);
  margin: var(--size-large) 0;
  align-items: center;
  justify-content: space-evenly;
}

.button-row.end {
  justify-content: flex-end;
}

button,
[type="button"] {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: var(--font-button);
  font-weight: 700;
  line-height: 24px;
  padding: var(--size-small) var(--size-default);
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

[type="button"]:hover,
[type="button"]:active {
  outline: 0;
}

[type="button"]:hover {
  background-color: transparent;
}

[type="button"]:before {
  background-color: var(--highlight);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

[type="button"]:hover:before {
  background-color: var(--highlight-hover);
}

@media (min-width: 768px) {
  [type="button"] {
    padding: var(--size-small) var(--size-large);
  }
}

button.secondary {
  border: none;
  background: transparent;
}

button.secondary:hover {
  text-decoration: underline;
}