.main {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--size-large) var(--size-x-large);
  pointer-events: none;
  z-index: 1;
}

.placeholder {
  width: 100%;
  height: calc(2 * var(--size-x-large) + var(--size-large));
  background: var(--background-secondary);
}

.group {
  background: var(--highlight);
  border: 1px solid rgba(var(--card-border-rgb), 0.25);
  border-radius: 5px;
  display: flex;
  gap: var(--size-default);
  align-items: center;
  padding: var(--size-default);
  margin: 0;
  pointer-events: all;
  color: var(--button-text-color);
}
