.main {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  gap: var(--size-default);
  padding: var(--size-default) var(--size-x-large);
  align-items: center;
  justify-content: space-between;
}

.first {
  flex: 1;
}

.skip {
  position: relative;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

.label {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
}

.centered {
  justify-content: center;
  display: flex;
  flex-grow: 0;
}

.group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--size-default);
  flex: 1;
}

.main select {
  background: transparent;
  border: none;
  color: rgb(var(--foreground-rgb));
  font-family: 'Avenir Next LT W01 Bold', sans-serif;
  font-size: inherit;
  font-weight: 700;
  line-height: 24px;
  padding: var(--size-small);
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}